<%# app/views/lists/index.html.erb %>
<div class="hero-banner">
  <div>
    <h1>Your Favorite Anime Lists</h1>
    <p>Share Your Watchlist!</p>
  </div>
</div>

<div class="container mt-4">
  <h2 class="mb-4">Anime Lists</h2>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="list-card"
          <% if list.photo.attached? %>
            style="background-image: url('<%= cl_image_path list.photo.key, crop: :fill, gravity: :auto, width: 400, height: 300 %>'); background-size: cover; background-position: center;"
          <% else %>
            style="background-image: url('https://via.placeholder.com/400x300.png?text=No+Image'); background-size: cover; background-position: center;"
          <% end %>
        >
          <div class="list-card-content">
            <h3><%= link_to list.name, list_path(list), class: "list-card-title" %></h3>
            <%= link_to "Watch This List", list_path(list), class: "btn btn-outline-info btn-sm w-100" %>

            <%# Le bouton de suppression a été retiré %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
