// app/assets/stylesheets/config/_fonts.scss

// Import des polices Google Fonts via @import url (alternative au <link> dans HTML)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Rubik:wght@400;700&display=swap');

// Définition de la police 'Anime Ace BB' via @font-face
@font-face {
  font-family: 'Anime Ace BB';
  src: asset-url('anime-ace-bb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variables SCSS pour tes polices personnalisées
$font-anime: 'Anime Ace BB', sans-serif;
$headers-font: "Montserrat", sans-serif; // Utilise Montserrat pour les titres
$body-font: "Rubik", sans-serif; // Utilise Rubik pour le corps
