.avatar {
  width: $spacer * 2.5;
  height: $spacer * 2.5;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba($black, 0.1);
}
.avatar-large {
  width: $spacer * 4;
  height: $spacer * 4;
}
.avatar-bordered {
  border: 2px solid $white;
  box-shadow: 0 0 0 2px $primary;
}
