.footer {
  background-color: $dark-gray; // Un fond sombre
  padding: $spacer * 3 $spacer * 2;
  color: $black; // <-- REMIS À $black : Couleur du texte principal du footer
  text-align: center;
  font-family: $body-font;
  font-size: $font-size-base * 0.9;

   // Ajout de cette règle spécifique pour forcer les paragraphes à être noirs
  p {
    color: $black;
  }

  a {
    color: $black; // <-- REMIS À $black : Couleur des liens directs dans le footer
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .footer-links {
    margin-top: $spacer;
    a {
      font-size: $spacer * 1.2; // Taille des icônes de liens sociaux par exemple
      margin: 0 $spacer * 0.5;
      color: $black; // <-- REMIS À $black : Couleur des liens dans .footer-links
      &:hover {
        color: $black;
        transform: translateY(-2px);
      }
    }
  }
}
